.button {
  border: none;
  outline: none;
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button-primary_button {
  background: #e1034d;
  color: white;
}

.button-primary_button:hover {
  transform: scale(1.02);
}